<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard - FinanceDash</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    
    <h1>FinanceDash</h1>

    <h2>Olá {{ session["usuario_nome"]}}!</h2>

    <a href="{{ url_for('nova_transacao')}}">Nova Transação</a>

    <hr>

    <h3>Resumo financeiro</h3>

    <p>
        Receitas:
        R$ {{ "%.2f"|format(receitas) }}
    </p>

    <p>
        Despesas:
        R$ {{ "%.2f"|format(despesas )}}
    </p>

    <p>
        Saldo:
        R$ {{ "%.2f"|format(saldo) }}
    </p>

    <hr>

    <h3>Transações</h3>

    {% if transacoes %}

        {% for transacao in transacoes %}

            <div>
                <strong> 
                    {{ transacao.descricao}}
                </strong>

                <p>
                    Categoria: {{transacao.categoria}}
                </p>

                <p>
                    Tipo: {{transacao.tipo}}
                </p>
                    
                <p>
                    Valor:
                    R$ {{ "%.2f"|format(transacao.valor)}}
                </p>

                <p>
                    Data: {{transacao.data.strftime("%d/%m/%Y")}}
                </p>

            

                <a href="{{url_for('excluir_transacao', id=transacao.id)}}">
                        Excluir
                </a>
            
            </div>

            <hr>
        {% endfor %}

    {% else %}

            <p>
                Você ainda não possui transações.
            </p>

    {% endif %}

    

    <a href="{{ url_for('logout')}}">Sair</a>

</body>

</html>