<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Investimentos - synflow</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

    <h1>synflow</h1>

    <h2>Investimentos</h2>

    <a href="{{ url_for('perfil_investidor') }}">
        Descobrir meu perfil de investidor
    </a>

    <p> 
        Encontre opções de investimentos para estudar
        de acordo com seus objetivos financeiros.
    </p>

    <hr>

    <div>

        <h3>Conheça algumas opções</h3>

        <h4>Renda Fixa</h4>

        <p>
            Investimentos que normalmente possuem
            maior previsibilidade de retorno.
        </p>

        <ul>
            <li>Tesouro Direto</li>
            <li>CDB</li>
            <li>LCI</li>
            <li>LCA</li>
        </ul>

    </div>

    <div>

        <h4> Fundos de Investimento</h4>

        <p>
            Modalidades em que os recursos dos investidores
            são administrados por gestores.
        </p>

        <ul>
            <li>Fundos de renda fixa</li>
            <li>Fundos multimercado</li>
            <li>Fundos de ações</li>
        </ul>

    </div>
    
    <div>

        <h4> Renda Variável</h4>

        <p>
            Investimentos que podem apresentar maior
            oscilação e risco.
        </p>

        <ul>
            <li>Ações</li>
            <li>ETFs</li>
            <li>FIIs</li>
        </ul>

    </div>

    <hr>

    <h3>⚠️ Aviso</h3>

    <p>
        As informações apresentadas pelo FinanceDash
        possuem finalidade exclusivamente educativa e
        não constituem recomendação individual de investimento.
    </p>

    <br>

    <a href="{{url_for('dashboard')}}">Voltar para Dashboard</a>

</body>
</html>