<DOCTYPE html>
<html lang="pt-br"

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">

    <title>Login - Synflow</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <link rel="icon" type="image/png" sizes="16x16"
      href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

</head>

<body>

    <h1>Synflow</h1>

    <h2>Entrar</h2>

    <form method="POST">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <br><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <br><br>

        <button type="submit">Entrar</button>

    </form>

    <p>
        Não possui uma conta?
        <a href="{{url_for('cadastro')}}">Cadastre-se</a>
    </p>

</body>

</html>